@font-face {
  font-family: 'ChunkFive';
  src: url('./assets/ChunkFive-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/Proxima Nova Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #fff;

  --sans: 'Proxima Nova', sans-serif;
  --heading: 'ChunkFive', serif;
  --mono: ui-monospace, Consolas, monospace;

  --gold: #FDB913;
  --black: #231F20;
  --blue: #40B4E5;
  --lightblue: #C4E7F3;
  --darkblue: #002F87;
  --green: #41873F;
  --lightgreen: #82BC00;
  --red: #E2231A;
  --darkred: #D13239;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}